{% extends 'base.html' %}

{% block title %}
Signin
{% endblock %}

{% block cardtitle %}
Signin
{% endblock %}

{% block cardsubtitle %}
Login
{% endblock %}

{% block content %}
<div class="col-md-8 offset-md-2 mt-5 card card-body">
    {{ errorform | safe }}
    <!-- {{form.as_p}} usa el formulario base de django.admin-->
    <div class="mb-3">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" class="form-control" placeholder="Write your username">
    </div>
    <div class="mb-3">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" class="form-control" placeholder="Write your password">
    </div>
    <button class="btn btn-primary">
        Login
    </button>
</div>
{% endblock %}