{% extends "base.html" %}

{% block title %}
About us
{% endblock %}

{% block content %}
Lorem, ipsum dolor sit amet consectetur adipisicing elit.
Incidunt, quia cupiditate? Aspernatur architecto quia eum obcaecati,
asperiores in! Optio asperiores saepe, nesciunt eius veniam dignissimos modi adipisci cupiditate, quos voluptates
ratione, recusandae aspernatur. Soluta temporibus ducimus enim commodi iure expedita quo. Cupiditate dolorem,
facilis modi exercitationem at ex! Reprehenderit, voluptas.
{% endblock %}