{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Perferendis eum inventore corporis omnis velit eligendi aliquid, 
            temporibus repudiandae amet, odio pariatur magnam tempore praesentium 
            unde maxime dolorem repellat saepe laudantium.
        </p>
        <div class="text_center">
            <a class="btn btn-secondary" href="/signin/">
                Login
            </a>
            <a class="btn btn-dark" href="/signup/">
                Register
            </a>
        </div>
    </section>
</main>

    
{% endblock %}

