{% extends 'base.html' %}

{% block cardtitle %}
Detail task
{% endblock %}

{% block cardsubtitle %}
Task admin
{% endblock %}

{% block content %}
<div class="col-md-8 offset-md-2 mt-5">
    {{ errorform | safe }}
    {{form.as_p}}
    <button class="btn btn-primary">
        Update
    </button>
    <div class="mt-5 d-flex">
        <a class="my_href" href="{% url 'task_complete' task.id %}">
            <button class="btn btn-secondary">
                Complete
            </button>
        </a>
        <a class="my_href" href="{% url 'task_delete' task.id %}">
            <button class="btn btn-danger">
                Delete
            </button>
        </a>
    </div>
</div>
{% endblock%}