<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Escuchar el clic en el enlace
        $("#my_href").on("click", function (e) {
            e.preventDefault();  // Prevenir el comportamiento predeterminado del enlace

            // Cambiar la acción del formulario
            $("#my_form").attr("action", $(this).attr("href"));

            // Enviar el formulario
            $("#my_form").submit();
        });
    });
</script>

{% extends 'base.html' %}

{% block cardtitle %}
Detail task
{% endblock %}

{% block cardsubtitle %}
Task admin
{% endblock %}

{% block content %}
<form id="my_form" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <div class="col-md-8 offset-md-2">
        <a id="my_href" href="{% url 'task_detail' task.id %}">
            <button class="btn btn-primary">
                Update
            </button>
        </a>
        <div class="mt-5 d-flex">
            <a id="my_href" href="{% url 'task_complete' task.id %}">
                <button class="btn btn-secondary">
                    Complete
                </button>
            </a>
            <a id="my_href" href="{% url 'task_delete' task.id %}">
                <button class="btn btn-danger">
                    Delete
                </button>
            </a>
        </div>
    </div>
</form>
{% endblock%}