{% load static %}
<!doctype html>
<html lang="en">


<head>
    <title>
        {{title}}
        {% block title %}

        {% endblock %}
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function () {
            // Escuchar el clic en el enlace
            $(".my_href").on("click", function (e) {
                e.preventDefault();  // Prevenir el comportamiento predeterminado del enlace

                // Cambiar la acción del formulario
                $("#my_form").attr("action", $(this).attr("href"));

                // Enviar el formulario
                $("#my_form").submit();
            });
        });
    </script>
</head>

<body class="content">
    <header class="container">
        <!-- Contenido del encabezado común -->
        {% include 'nav.html' %} <!-- Incluye la plantilla de navegación -->
    </header>
    <main class="container">
        <section class="card my-3">
            <form id="my_form" action="{{formaction}}" enctype="{{formenctype}}" method="post">
                {% csrf_token %}
                <div class="card-header">
                    <h4 class="card-title">
                        {{cardtitle}}
                        {% block cardtitle %}

                        {% endblock %}
                    </h4>
                    {{cardbutton}}
                    {% block newbutton %}

                    {% endblock %}
                </div>
                <div class="card-body">
                    <h4 class="card title">
                        {{cardsubtitle}}
                        {% block cardsubtitle %}

                        {% endblock %}
                    </h4>

                    <div class="card card-body">
                        {{ errorform | safe }}
                        {% block content %}

                        {% endblock %}
                    </div>
                </div>
            </form>
        </section>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
        </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
        </script>
</body>

</html>