{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block cardtitle %}
Start Page
{% endblock %}

{% block cardsubtitle %}
Home
{% endblock %}

{% block content %}
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Incidunt, quia cupiditate? Aspernatur architecto quia eum obcaecati,
    asperiores in! Optio asperiores saepe, nesciunt eius veniam dignissimos modi adipisci cupiditate, quos voluptates
    ratione, recusandae aspernatur. Soluta temporibus ducimus enim commodi iure expedita quo. Cupiditate dolorem,
    facilis modi exercitationem at ex! Reprehenderit, voluptas.
</p>
<div class="text_center">
    <a class="btn btn-secondary" href="/signin/">
        Login
    </a>
    <a class="btn btn-dark" href="/signup/">
        Register
    </a>
</div>
{% endblock %}