{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block cardtitle %}
Start Page
{% endblock %}

{% block cardsubtitle %}
Home
{% endblock %}

{% block content %}
<div class="col-md-8 offset-md-2 mt-4">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia, sapiente.
    </p>
    <p>{{gretting}}</p>
    <p>{{BASE_DIR_}}</p>
    <p>{{MEDIA_ROOT_}}</p>
    <p>{{MEDIA_URL_}}</p>
    <p>{{STATIC_URL_}}</p>
    <p>Access token : {{ACCESS_TOKEN_}}</p>
    <p>Refresh token : {{REFRESH_TOKEN_}}</p>
    <div class="text_center">
        <a class="btn btn-secondary" href="/signin/">
            Login
        </a>
        <a class="btn btn-dark" href="/signup/">
            Register
        </a>
    </div>
</div>
{% endblock %}